{% extends "layout.html" %}
{% block content %}
        <div class="index-wrapper">
            <div class="image">
                <img src="../static/img/me3.jpg">
            </div>
            <div class="intro-text">
                <p>Hello Everyone</p>
                <h1>Ritik Srivastava</h1>
                <h3>Software developer on road to OpenSource Contributor</h3>
                <h3>Want to play with technology</h3>
            </div>
            <div class="career-text">
                <h2>Ready To Learn</h2>
            </div>
        </div>
{% endblock %}
